[submodule "tir_black"]
	path = tir_black
	url = https://github.com/vim-scripts/tir_black.git
[submodule "jsbeautify"]
	path = jsbeautify
	url = https://github.com/vim-scripts/jsbeautify.git
[submodule "css.syntax.vim"]
	path = css.syntax.vim
	url = https://github.com/thisgeek/css.syntax.vim.git
[submodule "applescript.vim"]
	path = applescript.vim
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule "custom-snippets"]
	path = custom-snippets
	url = https://github.com/thisgeek/custom-snippets.git
[submodule "vm.vim"]
	path = vm.vim
	url = https://github.com/vim-scripts/vm.vim.git
[submodule "html5-syntax.vim"]
	path = html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "vim-actionscript"]
	path = vim-actionscript
	url = https://github.com/jeroenbourgois/vim-actionscript.git
[submodule "jshint2.vim"]
	path = jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "vim-jade"]
	path = vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "ftl-vim-syntax"]
	path = ftl-vim-syntax
	url = https://github.com/patrickmcelwee/ftl-vim-syntax.git
[submodule "devdocs.vim"]
	path = devdocs.vim
	url = https://github.com/rhysd/devdocs.vim.git
[submodule "vim-fubitive"]
	path = vim-fubitive
	url = https://github.com/tommcdo/vim-fubitive.git
[submodule "todo.txt-vim"]
	path = todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim-jsx"]
	path = vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim-ava-snippets"]
	path = vim-ava-snippets
	url = https://github.com/ahmedelgabri/vim-ava-snippets.git
