[submodule "jshint.vim"]
	path = jshint.vim
	url = git://github.com/wookiehangover/jshint.vim.git
[submodule "tir_black"]
	path = tir_black
	url = https://github.com/vim-scripts/tir_black
[submodule "jsbeautify"]
	path = jsbeautify
	url = git://github.com/vim-scripts/jsbeautify.git
[submodule "tagbar"]
	path = tagbar
	url = git://github.com/majutsushi/tagbar.git
